.sidebar {
  background-color: #1e293b; 
  color: white;
  height: 100vh;
  padding: 10px 0; 
  width: 250px; 
  transition: width 0.3s ease; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }  

.sidebar.collapsed {
  width: 80px;
}

.sidebar .title {
  font-size: 1.25rem; 
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px; 
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Remove default margin */
  flex: 1; /* Allow the ul to grow and fill the available space */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
  justify-content: flex-start; /* Align items vertically to the top */
}

.sidebar ul li {
  padding: 8px 15px; 
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease; 
  width: 100%;
}

.sidebar.collapsed ul li {
  justify-content: center; 
}

.sidebar ul li a {
  color: #cfd8dc;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%; 
  overflow: hidden; 
  white-space: nowrap; 
  transition: opacity 0.3s ease; 
}

.sidebar.collapsed ul li a {
  padding: 8px 0; 
}

.sidebar.collapsed ul li a span {
  display: none; 
}

.sidebar ul li a:hover {
  color: white;
}

/* Icon styling */
.sidebar ul li svg {
  margin-right: 10px; 
  font-size: 1.25rem; 
  transition: margin-right 0.3s ease; 
}

.sidebar.collapsed ul li svg {
  margin-right: 0; 
}


.sidebar ul li {
  justify-content: flex-start;
  align-items: center;
}
